.logo {
  filter: brightness(0) invert(1);
  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: auto;
  }
  &__title {
    color: white;
    font-weight: 600;
    &--black {
      color: black;
    }
  }
  &--black {
    filter: none;
  }
}
